<div class="row">
  <div class="col" *ngIf="data">
    <h2 class="mb-0">Modifier un Type</h2>
    <form #TypeForm="ngForm">
      <!-- Ajout de la référence au formulaire -->
      <div class="row mt-5">
        <div class="col-md-12">
          <label for="name">Nom</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="data.name"
            required
            #name="ngModel"
          />
          <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="text-danger"
          >
            <div *ngIf="name.errors.required">Le nom est requis.</div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <button
            type="button"
            class="btn btn-primary"
            (click)="updateType(TypeForm)"
          >
            Modifier
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeDialog()"
          >
            Annuler
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
