<div class="pb-8 pt-5 pt-md-8">
  <!-- Page content -->
  <div class="container-fluid mt-2">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h2 class="mb-0">Les Questions Logiques Privées</h2>
            <div class="d-flex justify-content-end">
              <button
                type="button"
                class="add-bouton"
                (click)="openAddQuestionLogDialog()"
              >
                Ajouter
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <div class="d-flex justify-content-end mb-3">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Type</th>
                    <th scope="col">Difficulté</th>
                    <th scope="col">Score</th>

                    <th scope="col tex-center">Detailles</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let question of privateQuestions">
                    <td>{{ question.title }}</td>
                    <td>{{ question.type.name }}</td>
                    <td>{{ question.difficulty }}</td>
                    <td>{{ question.score }}</td>
                    <td>
                      <div class="row">
                        <div
                          class="col-4 clickable-icon"
                          (click)="openViewQuestionDialog(question.id)"
                        >
                          <i class="fas fa-eye" style="font-size: 18px"></i>
                        </div>
                        <div class="col-4 clickable-icon">
                          <i
                            class="fa-regular fa-pen-to-square"
                            style="font-size: 18px"
                          ></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
