.left {
  border-right: 0.2px solid rgba(0, 0, 0, 0.113);
  width: 50%;
  float: left;
  padding: 2%;
}

.right {
  padding: 2%;
  width: 50%;
  float: right;
}
.row {
  background-color: #e8e7e7;
  margin: 3%;
}
i {
  color: cadetblue;
}

countdown {
  color: tomato;
}

.header {
  align-items: center;
  height: 5%;
  background-color: #a8a8a8b9;
}

.iderow .code-editor {
  width: 100%;
  height: 100%;
  height: 200px;
}
.card-body {
  height: 100%;
}
div.label-box {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.form-control {
  border-radius: 0 !important;
}

.form-control:disabled {
  background-color: #ffffff !important;
}

.output {
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}
.btn-clear {
  color: #ffffff;
  background-color: #e8af3e;
}

.btn-beautify {
  color: #ffffff;
  background-color: #e83e8c;
}

select.languages-select {
  cursor: pointer;
}

select.languages-select > option {
  display: block;
  background: ghostwhite;
}

select.languages-select:focus > option:checked {
  font-weight: bold;
}

.btn-row {
  background-color: transparent;
}

.next-btn,
.run-btn {
  width: 100%;
}

.answer-list {
  height: 50px;
  align-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #9b9b9b;
  background-color: #e8e7e7;
  font-size: large;
}
.container-submitted {
  margin-top: 5%;
}
.card-header {
  color: rgb(45, 59, 88);
  background: rgb(255, 255, 255);
  font-size: 40px;
}
.fa-triangle-exclamation {
  color: brown;
}
.text-left {
  color: rgb(45, 59, 88);
  font-size: 40px;
}
.row {
  background-color: rgb(255, 255, 255);
}
.text-right {
  color: rgb(45, 59, 88);
  font-size: 20px;
}
.warning {
  color: rgb(209, 175, 24);
  font-size: 20px;
}

.home-btn {
  background-color: #efcd0c;
  border-radius: 0;
}

.class-hedaer {
  padding: 3%;
  background-color: rgba(197, 197, 197, 0.5);
}
// Styles pour la barre d'outils
mat-toolbar {
  height: 64px;
  padding: 0 16px;
  background-color: #1c1c2b;
  .toolbar-logo {
    height: 32px;
    margin-right: 12px;
  }

  // Styles pour l'espace entre le logo et les autres éléments
  .toolbar-space {
    // Permettre à cet élément de remplir tout l'espace disponible
    flex: 1;
  }
}
