<div class="auth-layout">
  <div class="container-fluid">
    <div class="overlay body">
      <div class="row">
        <!-- Partie gauche -->
        <div
          class="col-lg-7 mt--7 d-flex flex-column align-items-center justify-content-center"
        >
          <!-- Calque pour bloquer le curseur -->
          <img src="assets/img/brand/red.png" class="limited-size" />
          <div class="text-center mt-3">
            <h1 class="text-white">Naviguez vers les meilleurs talents</h1>
          </div>
        </div>
        <!-- Partie droite -->
        <div class="col-lg-5 mt-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
