.icon-title {
  display: inline;
  vertical-align: middle;
}
.text-align-left {
  text-align: left;
}
.close-bouton {
  color: #1c1c2b;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;

  background-color: #eab308;
}

.close-bouton:hover {
  background-color: #eab308;
}
.en-bouton {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;

  background-color: #1c1c2b;
}

.close-bouton:hover {
  background-color: #eab308;
}
/* CSS pour l'icône de fermeture */
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
