.button-yellow {
  background-color: #efcc0b; /* Couleur de fond */
  color: black; /* Couleur du texte */
  border: none; /* Suppression de la bordure */
  padding: 10px 20px; /* Espacement intérieur */
  font-size: 16px; /* Taille de la police */
  cursor: pointer; /* Curseur pointeur */
  transition: background-color 0.3s ease; /* Transition fluide lors du survol */
  border-radius: 9999px; /* Forme arrondie */
}

.button-yellow:hover {
  background-color: goldenrod; /* Changement de couleur au survol */
}
/* Styles pour le bouton désactivé */
button:disabled {
  opacity: 0.7; /* Opacité réduite lorsque le bouton est désactivé */
  cursor: not-allowed; /* Curseur interdit lorsqu'il est désactivé */
  /* Ajoutez d'autres styles personnalisés pour le bouton désactivé ici */
}
.card-with-background {
  background-image: url("../../../assets/img/brand/Secure\ data-bro.png");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 300px; // Ajustez selon vos besoins
  height: 200px; // Ajustez selon vos besoins

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); // Modifier l'opacité selon vos besoins
  }
}
.image-container {
  /* Autres styles */
  filter: brightness(70%); /* Ajustez la valeur selon vos besoins */
}
