.button-yellow {
  background-color: #efcc0b;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 9999px;
}

.button-yellow:hover {
  background-color: goldenrod;
}
button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
