<div class="gbgradien d-flex justify-content-center align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col mt--7 d-flex flex-column align-items-center justify-content-center"
      >
        <p class="text-white" style="font-size: 72px; font-family: Bold">
          Welcome To
        </p>
        <!-- Calque pour bloquer le curseur -->
        <img
          src="../../../assets/img/brand/red.png"
          class="limited-size mt-2"
        />
        <div class="text-center mt-3">
          <h1 class="text-white">
            "Félicitations ! Votre compte a été créé avec succès"
          </h1>
          <h2 class="text2">
            Veuillez consulter votre Email pour les instructions de validation
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
