// styles.scss

// Importez les styles de ngx-toastr
@import "~ngx-toastr/toastr.css";

// Personnalisation des styles de la popup
.toast-success {
  background-color: #4caf50; // Couleur de fond pour la notification de succès
  color: #fff; // Couleur du texte pour la notification de succès
}

.toast-error {
  background-color: #f44336; // Couleur de fond pour la notification d'erreur
  color: #fff; // Couleur du texte pour la notification d'erreur
}

.simple-notification {
  border-radius: 5px; // Bord arrondi de la notification
  font-family: Arial, sans-serif; // Police de caractères
  font-size: 14px; // Taille de la police
  line-height: 1.5; // Hauteur de ligne
  padding: 10px 15px; // Remplissage intérieur de la notification
}
.add-bouton {
  color: #1c1c2b;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;

  background-color: #efcc0b;
}
.add-bouton:hover {
  border-color: white;
}

.clickable-icon {
  cursor: pointer;
  color: #0f1129;
}

.clickable-icon:hover {
  color: #eab308;
}
.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}
::ng-deep .mat-paginator {
  margin: 16px 0;
}
