<div class="pt-6 md-8"></div>
<!-- Page content -->
<div class="container-fluid mt-5">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-terminal mr-2"></i>

            <h2 class="mb-0 ml-2">Liste des Domaines</h2>
          </div>

          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="add-bouton"
              (click)="openAddDomainDialog()"
            >
              Ajouter Un Domaine
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Language</th>
                <th scope="col">Version</th>
                <th scope="col">Detailles</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let domain of domaines">
                <td>{{ domain.name }}</td>
                <td>{{ domain.lang }}</td>
                <td>{{ domain.version }}</td>
                <td>
                  <div class="row">
                    <div
                      class="col-4 clickable-icon"
                      (click)="openUpdateDialog(domain)"
                    >
                      <i
                        class="fa-regular fa-pen-to-square"
                        style="font-size: 18px"
                      ></i>
                    </div>
                    <!-- <div
                      class="col-4 clickable-icon"
                      (click)="openDeleteConfirmationDialog(domain.id)"
                    >
                      <i class="fas fa-trash-alt" style="font-size: 18px"></i>
                    </div> -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
