<h2 mat-dialog-title class="dialog-title">
  <div class="d-flex justify-content-end mb-3" (click)="closeDialog()">
    <i class="fas fa-times" style="font-size: 18px; cursor: pointer"></i>
  </div>
  <span>Nouvelle Section de test Logique :</span>
</h2>

<div mat-dialog-content>
  <form
    #testSectionForm="ngForm"
    (ngSubmit)="createTestSection(testSectionForm)"
  >
    <div class="row mt-3">
      <div class="col-md-6 mb-3">
        <label for="name">Titre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="newTestSection.testsectionName"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="lang">Éxperience</label>
        <input
          type="text"
          class="form-control"
          id="lang"
          name="lang"
          required
          [(ngModel)]="newTestSection.experience"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="version">Nombre De questions</label>
        <input
          type="text"
          class="form-control"
          id="version"
          name="version"
          required
          [(ngModel)]="newTestSection.qtsNumber"
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="difficulty">Difficulté</label>
        <select
          class="form-select form-control"
          id="difficulty"
          name="difficulty"
          required
          [(ngModel)]="newTestSection.difficulty"
        >
          <option *ngFor="let difficulty of difficulties" [value]="difficulty">
            {{ difficulty }}
          </option>
        </select>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-auto">
        <button type="submit" class="btn en-bouton">Enregistrer</button>
        <button type="button" class="btn close-bouton" (click)="closeDialog()">
          Annuler
        </button>
      </div>
    </div>
  </form>
</div>
