$primary-100: #fef9c3;
$primary-100-rgb: 254, 249, 195;
$primary-200: #fef08a;
$primary-200-rgb: 254, 240, 138;
$primary-300: #fde047;
$primary-300-rgb: 253, 224, 71;
.gradient {
  /* Dégradé linéaire */
  background: linear-gradient(
    to right,
    var(--fuse-primary-100),
    var(--fuse-primary-200),
    var(--fuse-primary-300)
  );
}
.button-yellow {
  background-color: #efcc0b;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: normal;

  transition: background-color 0.3s ease;
  // border-radius: 9999px; /* Forme arrondie */
}

.button-yellow:hover {
  background-color: goldenrod;
}
button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
