<div class="mt-2">
  <form
    #questionForm="ngForm"
    (ngSubmit)="addQuestion()"
    enctype="multipart/form-data"
  >
    <mat-horizontal-stepper #stepper>
      <mat-step>
        <div *ngIf="!showAnswersInput" class="title">
          <h1>Nouvelle Question Logique</h1>
          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="title">Titre</label>
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
                [(ngModel)]="newQuestion.title"
              />
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <label for="type">Type</label>
                  <select
                    class="form-select form-control"
                    id="type"
                    name="type"
                    required
                    [(ngModel)]="newQuestion.type_id"
                    (change)="updateTypeId($event.target.value)"
                  >
                    <option *ngFor="let type of types" [value]="type.id">
                      {{ type.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-3">
              <label for="imageUpload">Uploader une image :</label>
              <div class="input-group">
                <div class="custom-file">
                  <input
                    type="file"
                    id="imageUpload"
                    class="custom-file-input"
                    (change)="onFileSelected($event)"
                    accept="image/*"
                  />
                  <label class="custom-file-label" for="imageUpload"
                    >Choisir un fichier</label
                  >
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" (click)="fileInput.click()">
                    <!-- Remplacez la classe de l'icône par celle de votre choix -->
                    <i class="fas fa-upload"></i>
                  </span>
                </div>
              </div>
              <div *ngIf="imageUrl">
                <img
                  [src]="imageUrl"
                  alt="Question Image"
                  class="mr-2 custom-image"
                  style="width: 100px; height: auto"
                />
              </div>
            </div>

            <div class="col-md-12">
              <label for="questionBody">Contenu de Question</label>
              <textarea
                class="form-control"
                id="questionBody"
                rows="3"
                placeholder="Question Body ..."
                [(ngModel)]="newQuestion.questionBody"
                name="questionBody"
                required
              ></textarea>
            </div>
            <!-- Durée -->
            <div class="col-md-4 mb-3 mt-3">
              <label for="time">Durée</label>
              <input
                type="text"
                class="form-control"
                id="time"
                name="time"
                required
                [(ngModel)]="newQuestion.time"
              />
            </div>
            <!-- Score -->
            <div class="col-md-4 mb-3 mt-3">
              <label for="score">Score</label>
              <input
                type="text"
                class="form-control"
                id="score"
                name="score"
                required
                [(ngModel)]="newQuestion.score"
              />
            </div>
            <!-- Difficulté -->
            <div class="col-md-4 mb-3 mt-3">
              <label for="difficulty">Difficulté</label>
              <select
                class="form-select form-control"
                id="difficulty"
                name="difficulty"
                required
                [(ngModel)]="newQuestion.difficulty"
              >
                <option
                  *ngFor="let difficulty of difficulties"
                  [value]="difficulty"
                >
                  {{ difficulty }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-right">
          <button
            type="button"
            class="btn btn-secondary"
            matStepperNext
            *ngIf="!showAnswersInput"
          >
            Suivant
          </button>
        </div>
      </mat-step>

      <!-- Deuxième étape -->

      <mat-step>
        <ng-template matStepLabel>Ajouter des Réponses</ng-template>
        <div class="card card-main">
          <div class="card-header">
            <span>
              <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
              <strong> Ajouter des Réponses </strong>
            </span>
          </div>

          <div class="card-body">
            <form (ngSubmit)="submitAndAddAnswer()">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="mb-3">
                    <label for="newAnswer">Ajouter une réponse</label>
                    <input
                      type="text"
                      class="form-control"
                      id="newAnswer"
                      name="newAnswer"
                      [(ngModel)]="newAnswer"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Réponses enregistrées :</label>
                  <ul>
                    <li *ngFor="let answer of submittedAnswers; let i = index">
                      <div
                        class="custom-control custom-checkbox d-flex justify-content-between"
                      >
                        <div>
                          <input
                            class="custom-control-input"
                            type="checkbox"
                            id="answer{{ i }}"
                            [(ngModel)]="newQuestion.answer[i].isTrue"
                          />
                          <label
                            class="custom-control-label"
                            for="answer{{ i }}"
                            >{{ answer }}</label
                          >
                        </div>
                        <i
                          class="fas fa-trash-alt"
                          (click)="removeAnswer(i)"
                        ></i>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row mt-3 justify-content-center">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn reponse-bouton">
                    Ajouter une réponse
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary ml-2"
                    (click)="stepper.previous()"
                  >
                    Précédent
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <div class="col-md-12 text-center mt-3">
      <button type="submit" class="btn en-bouton">Enregistrer</button>
      <button type="button" class="btn close-bouton" (click)="closeDialog()">
        Annuler
      </button>
    </div>
  </form>
</div>
