.add-bouton {
  color: #1c1c2b;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;

  background-color: #eab308;
}

.add-bouton:hover {
  background-color: #eab308;
}

.clickable-icon {
  cursor: pointer;
  color: #0f1129;
}

.clickable-icon:hover {
  color: #eab308;
}
