<div class="row">
  <div class="col">
    <div class="card shadow">
      <div
        class="card-header border-0 d-flex justify-content-between align-items-center"
      >
        <h2 class="mb-0">List Des Types</h2>
        <button type="button" class="add-bouton" (click)="openAddTypeDialog()">
          Ajouter
        </button>
      </div>

      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr class="text-center">
              <th scope="col">Type</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let type of pagedType">
              <td>
                {{ type.name }}
              </td>
              <td>
                <div class="row">
                  <div
                    class="col-4 clickable-icon"
                    (click)="openUpdateDialog(type)"
                  >
                    <i
                      class="fa-regular fa-pen-to-square"
                      style="font-size: 18px"
                    ></i>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="currentPage"
            [pageSize]="pageSize"
            (pageChange)="pageChanged($event)"
          >
            <ng-template ngbPageLink let-pageIndex="page">
              <a class="page-link"></a>
            </ng-template>
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
