.add-bouton {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  background-color: #1c1c2b; /* Fallback pour les navigateurs ne prenant pas en charge les dégradés */
}
.add-bouton:hover {
  border-color: white;
}

.clickable-icon {
  cursor: pointer;
  color: #0f1129;
}

.clickable-icon:hover {
  color: #eab308;
}
