.add-bouton {
  color: #1c1c2b;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  width: 150px;

  background-color: #efcc0b; /* Fallback pour les navigateurs ne prenant pas en charge les dégradés */
}
.add-bouton:hover {
  border-color: white;
}
.clickable-icon {
  cursor: pointer;
  color: #0f1129;
}

.fa-2x {
  color: #efcc0b;
}
.fa-2x:hover {
  color: #0f1129;
}

.send {
  cursor: pointer;
}
:host {
  display: block;
  padding: 16px;
}

.clickable-icon:hover {
  color: #eab308;
}
